<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static from staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/feeds.css" %}" />
    </head>

    <body>

            <div class="container">
                <div class="row pagination-centered">
                    <br/>
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="L" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-primary btn-full" value="LEFT">
                        </form>
                    </div>
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="R" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-success btn-full" value="RIGHT">
                        </form>
                    </div>
                </div>
            </div>
        {% if diff %}
                <div class="container">
                    <div class="row pagination-centered timesince">
                        <h5>Minutes since last feed: {{diff}}</h5>
                    </div>
                </div>
        {% endif %}
            <div class="container">
                <div class="row pagination-centered">
                    <div class="span6 offset3">
                    {% regroup feeds by start_time|date:"dS M" as feeds_by_day %}
                    {% for feeds in feeds_by_day %}
                        <h3>{{feeds.grouper}}</h3>
                        <table class="table table-bordered table-striped feeds">
                            {% for feed in feeds.list %}
                                <tr>
                                   <td>{{feed.side}}</td>
                                   <td>
                                        {{feed.start_time|date:"P"}}
                                        <a class="btn btn-small btn-danger pull-right" href="/delete/{{feed.id}}"><i class="icon-remove icon-white"></i></a>
                                  </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                    </div>
                </div>
            </div>


    </body>
</html>
