<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static from staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Patua+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "css/feeds.css" %}" />
    </head>

    <body>
        <div class="container topnav">
            <div class="row">
                <div class="span12">
                    <div class="btn-group pull-right">
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="icon-white icon-align-justify"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/new">Log a Feed</a></li>
                        <li><a href="/stats">Stats</a></li>
                        <li><a href="#about">About</a></li>
                      </ul>
                    </div>
                    <div class="btn-group pull-right">
                    </div>
                    <a href="/"><h1>Bestfeeding</h1></a>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="container">
                <div class="row pagination-centered">
                    <br/>
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="L" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-warning btn-full" value="LEFT">
                        </form>
                    </div>
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="R" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-info btn-full" value="RIGHT">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if diff %}
            <div class="timesince">
                <div class="container">
                    <div class="row pagination-centered">
                        <h5>Minutes since last feed: {{diff}}</h5>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="info">
            <div class="container">
                <div class="row pagination-centered">
                    <div class="span6 offset3">
                    {% regroup feeds by start_time|date:"dS M" as feeds_by_day %}
                    {% for feeds in feeds_by_day %}
                        <h3>{{feeds.grouper}}</h3>
                        <table class="table table-bordered table-striped feeds">
                            {% for feed in feeds.list %}
                                <tr>
                                    <td width="5%">
                                    {% if feed.side == 'L' %}
                                        <span class="label label-warning">{{feed.side}}</span>
                                    {% else %}
                                        <span class="label label-info">{{feed.side}}</span>
                                    {% endif %}
                                    </td>
                                   <td>
                                        {{feed.start_time|date:"P"}}
                                        <a class="btn btn-small btn-danger pull-right" href="/delete/{{feed.id}}"><i class="icon-remove icon-white"></i></a>
                                  </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <h3 id="about">About</h3>
                    <p>Bestfeeding is an app for logging breastfeeding times and sides. Just touch left or right to
                        start a feed, or log a previous feed from the menu button.</p>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
    </body>
</html>
