{% extends 'base.html' %}

{% block main %}
    {% if form.messages %}
    <div class="timesince">
        <div class="container">
            <div class="row pagination-centered">
                {{form.messages}}
            </div>
        </div>
    </div>
    {% endif %} 
    <div class="buttons">
        <div class="container">
            <form action="" method="POST" class="form-inline">
                <h3>Add new feed</h3>
                <div class="row pagination-centered">
                    <div class="span3 offset3">
                        <button class="btn btn-warning disabled" rel="L">Left</button>
                    </div>
                    <div class="span3">
                        <button class="btn btn-info disabled" rel="R">Right</button>
                    </div>
                </div>
                <br/>
                <div class="row pagination-centered">
                    <div class="span3 offset3">
                        <div class="input-append bootstrap-timepicker">
                            <input id="feed_time" type="text" name="time">
                            <span class="add-on"><i class="icon-time"></i></span>
                        </div>
                    </div>  
                    <div class="span3">
                        <div class="input-append date" id="feed_date" data-date-format="dd-mm-yyyy">
                            <input name="date" size="16" type="text" readonly>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row pagination-centered">
                    <div class="span6 offset3">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#feed_time').timepicker({
        minuteStep: 15,
        showInputs: false,
        disableFocus: true
    });
    $('#feed_date').datepicker()
</script>
{% endblock %}
