{% extends 'base.html' %}

{% block main %}
        <div class="buttons">
            <div class="container">
                <div class="row pagination-centered">
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="L" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-warning btn-full" value="LEFT">
                        </form>
                    </div>
                    <div class="span6 half">
                        <form method="POST" action="/">
                            {% csrf_token %}
                            <input type="hidden" name="side" value="R" />
                            <input type="hidden" name="shield" value="0" />
                            <input type="submit" class="btn btn-large btn-info btn-full" value="RIGHT">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if diff %}
            <div class="timesince">
                <div class="container">
                    <div class="row pagination-centered">
                        <h5>Minutes since last feed: {{diff}}</h5>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="info feedlist">
            <div class="container">
                <div class="row pagination-centered">
                    <div class="span6 offset3">
                    {% if feeds %}
                        {% regroup feeds by start_time|date:"dS M" as feeds_by_day %}
                        <div id='slider' class='swipe'>
                            <div class='swipe-wrap'>
                                {% for feeds in feeds_by_day reversed %}
                                    <div>
                                    <h3>{{feeds.grouper}}<small>{{ feeds|length }} feeds today</small></h3>
                                    <table class="table table-bordered table-striped feeds">
                                        {% for feed in feeds.list %}
                                            <tr>
                                                <td width="5%">
                                                {% if feed.side == 'L' %}
                                                    <span class="label label-warning">{{feed.side}}</span>
                                                {% else %}
                                                    <span class="label label-info">{{feed.side}}</span>
                                                {% endif %}
                                                </td>
                                               <td>
                                                    {{feed.start_time|date:"P"}}
                                                    <a class="btn btn-small btn-danger pull-right delete" href="/delete/{{feed.id}}"><i class="icon-remove icon-white"></i></a>
                                              </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container">
                <div class="row">
                    <h3 id="about">About</h3>
                    <p>Bestfeeding is an app for logging breastfeeding times and sides. Just touch left or right to
                        start a feed, or log a previous feed from the menu button.</p>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        window.mySwipe = new Swipe(document.getElementById('slider'), {
            startSlide: $('.swipe-wrap>div').length-1,
            continuous: false
        });
    });
</script>
{% endblock %}
