{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
			<div class="container" style="width: auto; padding: 0 20px;">
				<a class="brand" href="#">Seymour</a>
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
				</div>
			</div>
		</div>
	</body>
</html>
		
