.btn-full {
    width: 90%!important;
    font-size: 2em!important;
    padding: 1em!important;
}

@media all and (max-width: 768px)  {
    .half {
        float: left !important;
        width: 50% !important;
    }
}
